* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(255, 248, 236);
  margin: 0 auto;
}

.App {
  display: flex;
  flex-direction: column;
  margin: auto;
}

header, section {
  text-align: center;
  margin: 0 auto;
}

section {
  margin-top: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: 500px;
}

ul li {
  text-align: left;
  margin: 20px 0;
}

img {
  width: 300px;
}

.bigtext {
  font-size: 50px;
  padding: 5px;
  border-bottom: 5px dashed orange;
  width: 480px;
}

h1 {
  text-align: center;
  margin: 20px auto;
  padding: 5px;

} 

.orangetext {
  color: orange;
}



.greeting {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background: white;
  width: 200px;
  margin: 0 auto;
}

button {
  width: 380px;
  outline: none;
  font-size: 16px;
  padding: 5px;
  margin: 10px auto;
  font-weight: bold;
  border-radius: 20px;
  border: 0;
  background-color: orange;
  transition: all 1s ease;
}

button:hover {
  cursor: pointer;
  background-color: rgb(194, 126, 0);
}